/* APP CONTAINER */
.app-container {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    font-family: 'Noto Sans', sans-serif

}

/* NAVBAR */
.navbar {
    width: 15%;
    min-width: 100px;
    height: calc(100vh - 20px);
    background-color: #f8f9fa;
    padding: 20px;
    padding-top: 5px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    /* display: flex;
    flex-direction: column; */
    /* justify-content: space-between; */
}

.navbar-brand h2{
    margin-bottom: 20px;
    margin-top: 0px;
}

.navbar-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar-links li{
    margin-bottom: 30px;
}

.navbar-links a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    display: inline-block;
    transition: transform 0.2s ease;
}

.navbar-links a:hover {
    transform: scale(1.2);
}

/* LOGOUT */
.logout-button {
    background-color:transparent;
    font-weight: bold;
    color: #b12b24;
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 5%;
    transition: all 0.2s ease;
    cursor: pointer;
    font-size: 18px;
 
}

.logout-button:hover {
    transform: scale(1.2);
}


/* MAIN CONTENT */
.main-content {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
    text-align: left;
    border-collapse: collapse;
}



/* TABLE */
.table-container {
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    background-color: #fcfcfc;
    
}

.table {
    width: 100%;
    margin: 20px 0;
    font-size: 0.93em;
    /* border-collapse:collapse ; */
    border-spacing: 0 4px;
}

.table th, .table td {
    padding: 12px 15px;
    font-size: 0.93rem;
    
}

.table th {
    background-color: #f4f4f4;
    color: #333;
    text-transform: uppercase;

}

.table tbody {
    border-radius: 12px; 
}

.table tr {
    background-color: #fff;
    margin-bottom: 8px;
    border: 1px solid;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05);
}

.table tr:hover {
    background-color: #f1f1f1;
}


/* ACTION BUTTONS */

.button-container {
    display: flex;
    gap: 8px;
}


.table button {
    display: flex;
    background-color: transparent;
    border: none;
    padding: 4px;
    border-radius: 5%;
    cursor: pointer;
    transition: all 0.2s ease;
    
}
.table button:hover {
    transform: scale(1.2);
}

.add-button-container {
    display: flex;
}

.add-button-container button {
    display: inline-flex;
    align-items: center;
    padding: 4px 8px;
    border: none;
    border-radius: 5%;
    transition: all 0.2s ease;
    cursor: pointer;
    font-size: 1rem;
}

.add-button-container button:hover {
    transform: scale(1.2);
}


/* SIDE PANEL */
.side-panel {
    position: fixed;
    top: 0;
    width: 30%;
    right: -30%;
    height: 100%;
    background-color: white;
    box-shadow: -2px 0 5px rgba(0,0,0,0.5);
    transition: right 0.3s ease;
    z-index: 1000;
    overflow-y: auto;

}

.side-panel.open {
    right: 0;
}

.side-panel-content {
    padding: 20px;
}

.row {
    display: flex;
    gap: 10px;
    align-items: flex-start;
}

.row label {
    display: flex;
    flex-direction: column;
}

.row input {
    padding: 0px;
    width: 10vh;
}


/* ADD ITEM */

.add-item-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.add-item-container h2 {
    text-align: center;
}

.add-item-container form {
    display: flex;
    flex-direction: column;
}

.add-item-container input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.add-invoice-items-container{
    display: flex;
    /* align-items: center; */
    gap: 8px;
    margin-bottom: 12px;
}

.add-invoice-items-container input{
    width: 30px;
    height: 5px;
    /* padding: 4px 6px; */
}

.add-invoice-items-container button{
    width: 70px;
    height: 30px;
    /* padding: 4px 6px; */
}


/* LOGIN */
.login-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.login-container h2 {
    text-align: center;
}

.login-container form {
    display: flex;
    flex-direction: column;
}

.login-container input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-register-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.login-register-link {
    color: #007BFF;
    text-decoration: none;
    font-size: 1rem;
    /* font-weight: bold; */
    cursor: pointer;
    transition: color 0.3s ease;
}

.login-register-link:hover {
    color: #0056b3;
    text-decoration: underline;
   
}




/* ADD INVOICE PAGE */
.close-button {
    position: absolute;
    top: 4%;
    right: 2%;
}

.create-invoice input{
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.create-invoice select{
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* INVOICE */
#invoice {
    font-family: Arial, sans-serif;
    padding: 20px;
    border: 1px solid #ccc;
    width: 600px;
    margin: 20px auto;

}

#invoice h1 {
    text-align: center;
    margin-bottom: 20px;
}

#invoice table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px
}

#invoice th, #invoice td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align:left;

}

#invoice th {
    background-color: #f8f8f8;
    font-weight: bold

}

#invoice h3 {
    font-weight: bold;
    text-align: right;
    margin-top: 10px;

}

.invoice-header {
    text-align: center;
    margin-bottom: 20px;
}

.invoice-footer {
    text-align: center;
    margin-bottom: 20px;
}

/* 'invoice-header' */
/* invoice-details */

/* 'error' */
/* 'item-field' */