/* APP CONTAINER */
.app-container {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

/* NAVBAR */
.navbar {
    width: 15%;
    min-width: 100px;
    height: 100vh;
    background-color: #f8f9fa;
    padding: 20px;
    padding-top: 5px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

.navbar-brand h2{
    margin-bottom: 40px;
    margin-top: 0px;
}

.navbar-links {
    list-style-type: none;
    padding: 0;
}

.navbar-links li{
    margin-bottom: 30px;
}

.navbar-links a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

/* MAIN CONTENT */
.main-content {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
}

/* table */
/* table-container */